
	<h1>School Catchment Area</h1>
	<p>
	  This is the home page for
	  <a href="http://schoolcatchmentarea.com/">School Catchment Area</a>
	  application.
	</p>
	
	<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>